@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prata', serif;
}

:root{
    --bg-color: #c5e3f6;
    --dark-blue: #0E153A;
    --black: #000000;
    --white: #ffffff;
}

html, body, .app{
    background-color: var(--bg-color);
}
.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*********Main styles*********/
.prata{
    font-family: 'Prata', serif;
}

.bodoni{
    font-family: 'Bodoni Moda', serif;
}

.link{
    cursor: pointer;
    text-decoration: none !important;
}
.bg-dark-blue{
    background-color: #0E153A;
}
.white{
    color: var(--white) !important;
}
a{
    text-decoration: none;
}
/******navbar ******/
.nav-item{
    padding: 8px 0 !important;
}
.navbar-toggler-icon{
    fill: var(--white) !important;
}

/******homepage******/
.homepage-header{
    height: 300px;
    display: flex;
    align-items: center;
}
.font-text{
    flex: 2;
    font-size: 20px;
    text-align: center;
}
/*********home-card**********/
.card-box{
    width: 100%;
    height: 200px;
}
.card{
    background-color: var(--white);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}
.btn{
    background-color: var(--dark-blue) !important;
    color: var(--white) !important;
    outline: none;
}

/***** footer ******/
.footer{
    margin-top: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    color: var(--white);
    align-items: center;
    height: 60px;
}
.auth{
    min-height: 400px;
}